/* h1 {
    color: red;
}
h1::after {
    display: block;
    content: '';
    border-bottom: 1px solid #000;
    margin-top: 50px;
} */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: #212121;
}

/* index header navigation */
.index-navigation-logo-1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.index-navigation-logo-2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    --text-color: #000000;
    color: var(--text-color);
}
.index-header-navigation a {
    text-decoration: none;
}
.index-header-navigation-aboutUs  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    list-style-type: none;
}
.index-header-navigation-aboutUs a {
    color: #212121;
}
.index-header-navigation-aboutUs a:hover {
   color: #2196F3;
}
.index-header-navigation-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    list-style-type: none;
}
.index-header-navigation-contacts a {
    --link-color: #757575;
    color: var(--link-color);
    text-decoration: none;
}
.index-header-navigation-contacts a:hover {
    color: #2196F3;
}

/* index hero section */
.index-header-hero {
    background-color: #2F303A;
}
.index-header-hero h1 {
    padding: 200px 452px 30px 452px;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.index-header-hero button {
    margin: 0 850px; /* розміри під fullhd-монітор */
    margin-bottom: 200px;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

/* index main our peculiarities  */
.main-our-peculiarities-list {
    list-style-type: none;
}
.main-our-peculiarities-list h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.main-our-peculiarities-list p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

/* index main our works  */
.main-our-works-list {
    list-style-type: none;
}
.main-our-works h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* index main our team  */
.main-our-team h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.main-our-team-list {
    list-style-type: none;
}
.main-our-team-list li {
    display: block;
    max-width: 270px;
    max-height: 368px;
} 
.main-our-team-list-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.main-our-team-list-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* index footer   */
.index-footer {
    background-color: #2F303A;;
}

.index-footer a {
    text-decoration: none;
}
.index-footer .index-navigation-logo-2 {
    --text-color: #ffffff;
    color: var(--text-color);
}
.index-footer-contacts  {
    list-style-type: none;
}
.index-footer-contacts-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.index-footer-contacts a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    --link-color: rgba(255, 255, 255, 0.6);
    color: var(--link-color);
}